*{
    margin: 0;
    padding: 0;
}

body{
    background-color:   rgb(50, 46, 74);
}

.header-container{
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 20px 0;
    background-color: white;
}

.header{
    font-weight: bold;
}

.buttons-and-score-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25%;
}

.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    gap: 20px;
}

